<h1>Login</h1>

<%= form_for :user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username%>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Login "%>
<% end %>

<span class="form-inline">
    <span><%= button_to "Login with Facebook", '/auth/facebook', class: "btn btn-primary"%></span>
    <%= button_to "Login with Github", '/auth/github'%>
    <%= button_to "Login with Google", '/auth/google'%>
</span>
