<!DOCTYPE html>
<html>
  <head>
    <title>RailsInvasiveSpeciesTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%# bootstrap code begins %>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script src="js/bootstrap.min.js"></script>
  <%# bootstrap code ends %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/invasive_species">
          <img src="leaf_logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
          Plant.Spy
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%# <a  href="/signup">Sign Up<span class="sr-only">(current)</span></a>   #do I need this in the line below? <span class="sr-only">(current)</span> %>
              <%= link_to "Sign Up", signup_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <%= link_to "Logout", logout_path, method: :post, class: "nav-link" %>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Create New
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/invasive_species/new">New Species</a>
                <a class="dropdown-item" href="/posts/new">New Post</a>
                <%# <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a> %>
              </div>
            </li>
            <%# <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> %>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
